body{
    background-color: azure;
}
.setup{
    max-width: 700px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid blueviolet;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.setUp-menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.invalid{
    border:1px solid red;
} 